# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# For this Project, include package files

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse file
.classpath
.project
.settings/

# IntelliJ IDEA file
.idea/
*.iml
out/

# Dataset
# breast-cancer-wisconsin.data

